[submodule "distantNodes"]
	path = distantNodes
	url = https://github.com/Daandelange/distantNodes.git
[submodule "utilities/karmaSoundAnalyser"]
	path = utilities/karmaSoundAnalyser
	url = https://github.com/Karma-Kusala/karmaSoundAnalyser.git
